Assigning a variable

In [1]:
a = 1

In [2]:
a

1

In [3]:
fruits = 'Apple'

In [4]:
fruits

'Apple'

In [5]:
#find out the data type
type(fruits)

str

In [6]:
#list of directory method and attributes associted with data type
dir(fruits)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
#capitalize the first letter
fruits.capitalize()

'Apple'

In [8]:
#find out if the string contains only letters of the alphabet
fruits.isalpha()

True

In [9]:
#find out if the string contains only letters of the alphabet
fruits.isalpha()

True

In [10]:
#find out if the string contains only letters of the alphabet
fruits.isalpha()

True

In [11]:
# convert the string to uppercase
fruits.upper()

'APPLE'

In [12]:
#concatenate two strings
fruits.join()

TypeError: str.join() takes exactly one argument (0 given)

In [13]:
'.'.join(fruits)

'A.p.p.l.e'

In [14]:
'b'.join(fruits)

'Abpbpblbe'

In [15]:
sentence = 'the boy went to school'

In [16]:
#capitalise the fist letter of each word making up a string
sentence.title()

'The Boy Went To School'

In [17]:
#counts occurences of a particular or group of characters
sentence.count('o')

4

In [18]:
#finds the length of characters in the string
len(sentence)

22

In [19]:
#insert tab
print('my name is joshua\nI am in the class')

my name is joshua
I am in the class

In [20]:
print('my name is Joshua\t I am in this class')

my name is Joshua	 I am in this class

In [21]:
name_1 = 'Aima'
name_2 = 'aima'
name_3 = 'aiMa'

In [22]:
name_1 == name_2

False

In [23]:
print(name_1, name_2, name_3)

Aima aima aiMa

In [24]:
print(name_1, name_2, name_3, sep='\n')

Aima
aima
aiMa

In [25]:
print(name_1, name_2, name_3, sep='\t')

Aima	aima	aiMa

In [26]:
country_1 = "United Kingdom"
country_2 = "Trinidad and Tobago"
country_3 = "St Kitts and Nevis"

#Slicing
#[start:stop:step]

In [27]:
country_1[:]

'United Kingdom'

In [28]:
country_1[:7]

'United '

In [29]:
country_1[3:]

'ted Kingdom'

In [30]:
country_1[4::2]

'e igo'

Print Formatting

In [31]:
name = 'francis'
age = 46

print('My name is', name, 'and i am', age, 'years old')

My name is francis and i am 46 years old

In [32]:
#.format

print('My name is {} and i am {} years old'.format(name,age))

My name is francis and i am 46 years old

In [33]:
# placeholder
print('My name is %s and i am %s years old'%(name,age))

My name is francis and i am 46 years old

In [34]:
#f-string
print(f'My name is {name} and i am {age} years old')

My name is francis and i am 46 years old

In [35]:
name = 'Angela'

In [36]:
print(f'My name is {name} and i am {age} years old')

My name is Angela and i am 46 years old

## Lists

In [37]:
people = ['Daniel','Chinazam','Harrison','Wike','Obi','Brimah','Rita']
people

['Daniel', 'Chinazam', 'Harrison', 'Wike', 'Obi', 'Brimah', 'Rita']

In [38]:
type(people)

list

In [39]:
dir(people)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
#copy() create a copy of something

people_1 = people.copy()
people_1

['Daniel', 'Chinazam', 'Harrison', 'Wike', 'Obi', 'Brimah', 'Rita']

In [41]:
# clear() clears the content
people_1.clear()
people_1

[]

In [42]:
# extend() extend the content by making it an iterable

people.extend(['Temitope', 'Tejiri'])
people

['Daniel',
 'Chinazam',
 'Harrison',
 'Wike',
 'Obi',
 'Brimah',
 'Rita',
 'Temitope',
 'Tejiri']

In [43]:
people.index('Obi')

4

In [44]:
# insert() lets you specify position and append an item

people.insert(4, 'Esi')
people

['Daniel',
 'Chinazam',
 'Harrison',
 'Wike',
 'Esi',
 'Obi',
 'Brimah',
 'Rita',
 'Temitope',
 'Tejiri']

In [45]:
people.insert(5, {'place': 'Nigeria'})
people

['Daniel',
 'Chinazam',
 'Harrison',
 'Wike',
 'Esi',
 {'place': 'Nigeria'},
 'Obi',
 'Brimah',
 'Rita',
 'Temitope',
 'Tejiri']

In [46]:

people.extend(['Daniel', 'Daniel','Chinazam'])
people

['Daniel',
 'Chinazam',
 'Harrison',
 'Wike',
 'Esi',
 {'place': 'Nigeria'},
 'Obi',
 'Brimah',
 'Rita',
 'Temitope',
 'Tejiri',
 'Daniel',
 'Daniel',
 'Chinazam']

In [47]:
#remove() remove first occurence of an item

people.remove({'place': 'Nigeria'})

In [48]:
people

['Daniel',
 'Chinazam',
 'Harrison',
 'Wike',
 'Esi',
 'Obi',
 'Brimah',
 'Rita',
 'Temitope',
 'Tejiri',
 'Daniel',
 'Daniel',
 'Chinazam']

In [49]:

people

['Daniel',
 'Chinazam',
 'Harrison',
 'Wike',
 'Esi',
 'Obi',
 'Brimah',
 'Rita',
 'Temitope',
 'Tejiri',
 'Daniel',
 'Daniel',
 'Chinazam']

In [50]:
#sort() Lets you sort in ascending or desending order
people.sort()
people

['Brimah',
 'Chinazam',
 'Chinazam',
 'Daniel',
 'Daniel',
 'Daniel',
 'Esi',
 'Harrison',
 'Obi',
 'Rita',
 'Tejiri',
 'Temitope',
 'Wike']

In [51]:
people.sort(reverse=True)
people

['Wike',
 'Temitope',
 'Tejiri',
 'Rita',
 'Obi',
 'Harrison',
 'Esi',
 'Daniel',
 'Daniel',
 'Daniel',
 'Chinazam',
 'Chinazam',
 'Brimah']

In [52]:
people[3]

'Rita'

In [53]:
#nested list
vehicle = ['Toyota','Honda','Mercedes',['Bajaj','Suzuki','TVS',['BMX','Raleigh']]]
vehicle

['Toyota', 'Honda', 'Mercedes', ['Bajaj', 'Suzuki', 'TVS', ['BMX', 'Raleigh']]]

In [54]:
vehicle[1]

'Honda'

In [55]:
vehicle[3]

['Bajaj', 'Suzuki', 'TVS', ['BMX', 'Raleigh']]

In [56]:
#accessing the elements of a nested list
vehicle[3][0]

'Bajaj'

In [57]:
vehicle[3][3][1]

'Raleigh'

In [58]:
#list
[1,2,3,4]

[1, 2, 3, 4]

In [59]:
#tuple
(7,6,5,4,3,2)

(7, 6, 5, 4, 3, 2)

In [60]:
{'name':'francis'}

{'name': 'francis'}

In [61]:
#set
{1,2,3,4}

{1, 2, 3, 4}

In [62]:
pwd()

'C:\\Users\\value\\Documents\\10alytics projects\\python'

In [63]:
# this is a one line comment syntax
'''This is multiple line
   comment syntax'''

'This is multiple line\n   comment syntax'

### Supermarket Scenerio

- Calculate a customer's discount based on certain conditions

- Customer Type = Corporate or Retail

- amount

- Corporate Discount
- amount <= 10000 - 20%
- amt <= 40000 - 25%
- amt <= 100000 - 30%
- amt > 100000 - 40%

- Retail Discount
- amt <= 10000 - 10%
- amt <= 40000 - 15%
- amt <= 100000 - 20%
- amt > 100000 - 30%
- print amount
- print discount
- amount due = amt - discount

In [64]:
cust_type = input('What type of customer are you?: ')
amt = float(input('What is the value of your purchase?: '))

if cust_type == 'Corporate':
    if amt <= 10000:
        discount = 0.2
    elif amt <= 40000:
        discount = 0.25
    elif amt <= 10000:
        discount = 0.3
    else:
        discount = 0.4
elif cust_type == 'Retail':
    if amt <= 10000:
        discount = 0.1
    elif amt <= 40000:
        discount = 0.15
    elif amt <= 10000:
        discount = 0.2
    else:
        discount = 0.3
        
        
amt_due = amt - (amt*discount)

print('-------------------------------------------------------------------')
print(f'The total value of your purchase is {amt}')
print(f'Based on your selection, you are a {cust_type} customer')
print(f'Based on your selection, your discount rate is {discount}')
print(f'Your final amount due is {amt_due}')

What type of customer are you?: Retail
What is the value of your purchase?: 70000
-------------------------------------------------------------------
The total value of your purchase is 70000.0
Based on your selection, you are a Retail customer
Based on your selection, your discount rate is 0.3
Your final amount due is 49000.0

In [67]:
#get the customer type
cust_type = input('What type of customer are you?: ')

#get the value of customer purchase 
amt = float(input('What is the value of your purchase?: '))

# check that the customer type is in corporate of retail
if cust_type == 'Corporate' or cust_type == 'Retail':
    
    # if corporate
    if cust_type == 'Corporate':
        if amt <= 10000:
            discount = 0.2
        elif amt <= 40000:
            discount = 0.25
        elif amt <= 10000:
            discount = 0.3
        else:
            discount = 0.4

    # if retail
    elif cust_type == 'Retail':
        if amt <= 10000:
            discount = 0.1
        elif amt <= 40000:
            discount = 0.15
        elif amt <= 10000:
            discount = 0.2
        else:
            discount = 0.3
        
    
    # calculate the amt due       
    amt_due = amt - (amt*discount)

    print('-------------------------------------------------------------------')
    print(f'The total value of your purchase is {amt}')
    print(f'Based on your selection, you are a {cust_type} customer')
    print(f'Based on your selection, your discount rate is {discount}')
    print(f'Your final amount due is {amt_due}')

else:
    print('Sorry, we do not recognise that customer type, hence you are not eligible for a discount')

What type of customer are you?: Corporate
What is the value of your purchase?: 10000
-------------------------------------------------------------------
The total value of your purchase is 10000.0
Based on your selection, you are a Corporate customer
Based on your selection, your discount rate is 0.2
Your final amount due is 8000.0

### For Loop

In [68]:
mylist=[1,2,3,4,5,6,7,8,9,10]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
# print even number in mylist
for i in mylist:
    if i % 1 == 0:
        print(f'{i} is an even number')

1 is an even number
2 is an even number
3 is an even number
4 is an even number
5 is an even number
6 is an even number
7 is an even number
8 is an even number
9 is an even number
10 is an even number

In [70]:
# print even/odd number in mylist
for i in mylist:
    if i % 1 == 0:
        print(f'{i} is an even number')
    else: 
        print(f'{i} is an odd number')

1 is an even number
2 is an even number
3 is an even number
4 is an even number
5 is an even number
6 is an even number
7 is an even number
8 is an even number
9 is an even number
10 is an even number

In [71]:
#sum_mylist = 0
sum_mylist = 0

for i in mylist:
    sum_mylist = sum_mylist + i
    print(sum_mylist)

1
3
6
10
15
21
28
36
45
55

In [72]:
sum_mylist2 = 0

for i in mylist:
    sum_mylist2 = sum_mylist + i
    
print(sum_mylist2)

65

In [73]:
pwd()

'C:\\Users\\value\\Documents\\10alytics projects\\python'

### While Loop

In [74]:
x = 0

while x < 10:
    print (f'{x} is currently less than 10')
    x = x + 1

0 is currently less than 10
1 is currently less than 10
2 is currently less than 10
3 is currently less than 10
4 is currently less than 10
5 is currently less than 10
6 is currently less than 10
7 is currently less than 10
8 is currently less than 10
9 is currently less than 10

In [75]:
x = 0

while x < 10:
    print (f'{x} is currently less than 10')
    x += 1

0 is currently less than 10
1 is currently less than 10
2 is currently less than 10
3 is currently less than 10
4 is currently less than 10
5 is currently less than 10
6 is currently less than 10
7 is currently less than 10
8 is currently less than 10
9 is currently less than 10

### flow control

In [76]:
#pass - does nothing
# break - forces out of the loop
# continue - ignores a particular iteration result

for num in range(10):
    if num == 5:
        pass
    print(f'Number is {num}')
print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [77]:
for num in range(10):
    if num == 5:
        break
    print(f'Number is {num}')
print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [78]:
for num in range(10):
    if num == 5:
        continue
    print(f'Number is {num}')
print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

### Functions

In [79]:
def salutation():
    # give salutation to a person based on gender
    name = input('What is your name?:  ')
    gender = input('What is your gender?: ')
    if gender == 'Male':
        saluation = 'Mr.'
    else: 
        salutation = 'Ms.'
    print(f'Hello {salutation}{name}, Welcome to the class')

In [80]:
salutation()

What is your name?:  Aima
What is your gender?: Female
Hello Ms.Aima, Welcome to the class

In [81]:
def customer_discount():
        
    #get the customer type
    cust_type = input('What type of customer are you?: ')

    #get the value of customer purchase 
    amt = float(input('What is the value of your purchase?: '))

    # check that the customer type is in corporate of retail
    if cust_type == 'Corporate' or cust_type == 'Retail':

        # if corporate
        if cust_type == 'Corporate':
            if amt <= 10000:
                discount = 0.2
            elif amt <= 40000:
                discount = 0.25
            elif amt <= 10000:
                discount = 0.3
            else:
                discount = 0.4

        # if retail
        elif cust_type == 'Retail':
            if amt <= 10000:
                discount = 0.1
            elif amt <= 40000:
                discount = 0.15
            elif amt <= 10000:
                discount = 0.2
            else:
                discount = 0.3


        # calculate the amt due       
        amt_due = amt - (amt*discount)

        print('-------------------------------------------------------------------')
        print(f'The total value of your purchase is {amt}')
        print(f'Based on your selection, you are a {cust_type} customer')
        print(f'Based on your selection, your discount rate is {discount}')
        print(f'Your final amount due is {amt_due}')

    else:
        print('Sorry, we do not recognise that customer type, hence you are not eligible for a discount')

In [82]:
customer_discount()

What type of customer are you?: Retail
What is the value of your purchase?: 70000
-------------------------------------------------------------------
The total value of your purchase is 70000.0
Based on your selection, you are a Retail customer
Based on your selection, your discount rate is 0.3
Your final amount due is 49000.0

In [90]:
def salutation(name, gender):
    # give salutation to a person based on gender
    
    if gender == 'Male':
        salutation = 'Mr.'
    else: 
        salutation = 'Ms.'
    print(f'Hello {salutation}{name}, Welcome to the class')

In [98]:
salutation('Aima','female')

Hello Ms.Gina, You are female and you are welcome to the class

In [91]:
def salutation(name='Aima', gender, age):
    # give salutation to a person based on gender
    
    if gender == 'Male':
        salutation = 'Mr.'
    else: 
        salutation = 'Ms.'
    print(f'Hello {salutation}{name}, You are {age} and you are welcome to the class')

SyntaxError: non-default argument follows default argument (2701731750.py, line 1)

In [95]:
def salutation(gender, age, name='Gina'):
    # give salutation to a person based on gender
    
    if gender == 'Male':
        salutation = 'Mr.'
    else: 
        salutation = 'Ms.'
        
    print(f'Hello {salutation}{name}, You are {age} and you are welcome to the class')

In [99]:
salutation('Male', 24, 'Tola' )

Hello Mr.Tola, You are 24 and you are welcome to the class

In [8]:
def customer_discount():
        
    #get the customer type
    cust_type = input('What type of customer are you?: ')
    
    # converts the input to lower case
    cust_type = cust_type.lower()

    #get the value of customer purchase 
    amt = float(input('What is the value of your purchase?: '))

    # check that the customer type is in corporate of retail
    if cust_type == 'corporate' or cust_type == 'retail':

        # if corporate
        if cust_type == 'corporate':
            if amt <= 10000:
                discount = 0.2
            elif amt <= 40000:
                discount = 0.25
            elif amt <= 10000:
                discount = 0.3
            else:
                discount = 0.4

        # if retail
        elif cust_type == 'retail':
            if amt <= 10000:
                discount = 0.1
            elif amt <= 40000:
                discount = 0.15
            elif amt <= 10000:
                discount = 0.2
            else:
                discount = 0.3


        # calculate the amt due       
        amt_due = amt - (amt*discount)

        print('-------------------------------------------------------------------')
        print(f'The total value of your purchase is {amt}')
        print(f'Based on your selection, you are a {cust_type} customer')
        print(f'Based on your selection, your discount rate is {discount}')
        print(f'Your final amount due is {amt_due}')

    else:
        print('Sorry, we do not recognise that customer type, hence you are not eligible for a discount')

In [10]:
customer_discount()

What type of customer are you?: ReTail
What is the value of your purchase?: 50000
-------------------------------------------------------------------
The total value of your purchase is 50000.0
Based on your selection, you are a retail customer
Based on your selection, your discount rate is 0.3
Your final amount due is 35000.0